/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
main .content,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "sans-serif";
  font-style: normal;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  color: #323b45;
  background-color: #323b45;
  color-profile: sRGB;
  -webkit-tap-highlight-color: rgba(0, 154, 144, 0.667); }

::selection {
  background: #009a90;
  color: #fff; }

::-moz-selection {
  background: #009a90;
  color: #fff; }

body {
  font-size: 1.6rem;
  background-color: white;
  overflow-x: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "sans-serif";
  line-height: 1.4;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }


p,
main .content,
ol,
ul {
  font-size: 1em;
  line-height: 1.6;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

code,
pre,
.hljs {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Roboto Mono", "Menlo", "Monaco", "monospace";
  padding: 0.3em 0.45em;
  overflow-x: auto; }

code,
code.hljs {
  display: inline; }

pre,
pre.hljs {
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem; }

small {
  font-size: 0.8em; }

sup,
sub {
  font-size: 0.6em; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

b,
strong {
  font-style: inherit;
  font-weight: 700; }

i,
em {
  font-style: italic;
  font-weight: inherit; }

blockquote {
  font-size: 1.2em;
  font-style: italic;
  font-weight: inherit;
  border-left: 6px solid #009a90;
  padding-left: 0.6em;
  padding-right: 0.6em; }

.picture {
  max-width: 100%; }

.center {
  text-align: center; }

.noselect, .filterbar {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

.link,
a[href] {
  color: #009a90;
  text-decoration: none;
  font-style: inherit;
  font-weight: inherit;
  transition: 0.2s color; }
  .link:hover,
  a[href]:hover {
    color: #323b45; }
  .link:active,
  a[href]:active {
    color: #323b45; }

.invert .link,
.invert a[href] {
  color: white;
  text-decoration: none;
  font-style: inherit;
  font-weight: inherit;
  transition: 0.2s color; }
  .invert .link:hover,
  .invert a[href]:hover {
    color: rgba(255, 255, 255, 0.667); }
  .invert .link:active,
  .invert a[href]:active {
    color: rgba(255, 255, 255, 0.667); }

.brand {
  font-size: 1.4em;
  display: inline-block; }
  .brand .logo {
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.2em; }
  .brand .name {
    font-style: normal;
    font-weight: 700;
    color: #323b45; }
    .brand .name small {
      font-size: 0.6em;
      vertical-align: bottom; }
    @media screen and (max-width: 580px) {
      .brand .name small {
        display: none; } }

.invert .brand .name {
  color: #fff; }

.btn, .filterbar .group label, .apps .link,
a.btn,
.apps a.link,
.links .btn,
.links .filterbar .group label,
.filterbar .group .links label,
.links .apps .link,
.apps .links .link {
  background-color: #009a90;
  color: white;
  border: 2px solid #009a90;
  border-radius: 2em;
  line-height: 1.2;
  padding: 0.333333em 0.666666em;
  margin: 0.222222em 0;
  display: inline-block;
  transition: 0.2s color, 0.2s background-color, 0.2s border-color;
  -webkit-tap-highlight-color: transparent; }
  .btn:hover, .filterbar .group label:hover, .apps .link:hover,
  a.btn:hover,
  .apps a.link:hover,
  .links .btn:hover,
  .links .filterbar .group label:hover,
  .filterbar .group .links label:hover,
  .links .apps .link:hover,
  .apps .links .link:hover {
    background-color: white;
    color: #009a90; }
  .btn *, .filterbar .group label *, .apps .link *,
  a.btn *,
  .apps a.link *,
  .links .btn *,
  .links .filterbar .group label *,
  .filterbar .group .links label *,
  .links .apps .link *,
  .apps .links .link * {
    vertical-align: text-bottom; }
  .btn i, .filterbar .group label i, .apps .link i,
  a.btn i,
  .apps a.link i,
  .links .btn i,
  .links .filterbar .group label i,
  .filterbar .group .links label i,
  .links .apps .link i,
  .apps .links .link i {
    font-size: 2.4rem; }

.invert .btn, .invert .filterbar .group label, .filterbar .group .invert label, .invert .apps .link, .apps .invert .link,
.invert a.btn,
.invert .apps a.link,
.apps .invert a.link {
  background-color: white;
  color: #009a90;
  border-color: white; }
  .invert .btn:hover, .invert .filterbar .group label:hover, .filterbar .group .invert label:hover, .invert .apps .link:hover, .apps .invert .link:hover,
  .invert a.btn:hover,
  .invert .apps a.link:hover,
  .apps .invert a.link:hover {
    background-color: #009a90;
    color: white; }

.links {
  margin: -0.4em; }
  .links .link {
    display: inline; }
  .links a {
    display: inline-block;
    padding-left: 0.4em;
    padding-right: 0.4em; }

.navigation {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #323b45; }
  .navigation .link,
  .navigation a[href] {
    color: #009a90;
    text-decoration: none;
    font-style: inherit;
    font-weight: inherit;
    transition: 0.2s color; }
    .navigation .link:hover,
    .navigation a[href]:hover {
      color: #323b45; }
    .navigation .link:active,
    .navigation a[href]:active {
      color: #323b45; }
  .navigation .brand {
    flex: 1 auto;
    text-align: left;
    margin: 0.6rem 0;
    margin-right: 2rem; }
  .navigation .links {
    flex: 1 auto;
    text-align: right;
    display: inline-block; }
    .navigation .links a {
      padding-top: 1rem;
      padding-bottom: 1rem; }
  .navigation.invert {
    color: #fff; }
    .navigation.invert .link,
    .navigation.invert a[href] {
      color: white;
      text-decoration: none;
      font-style: inherit;
      font-weight: inherit;
      transition: 0.2s color; }
      .navigation.invert .link:hover,
      .navigation.invert a[href]:hover {
        color: #aaddda; }
      .navigation.invert .link:active,
      .navigation.invert a[href]:active {
        color: #aaddda; }
  .navigation .menu {
    display: none; }
  @media screen and (max-width: 480px) {
    .navigation .menu {
      display: block;
      background: none;
      appearance: none;
      outline: none;
      border: none;
      font-size: 24px;
      width: 1em;
      height: 1em;
      color: inherit; }
      .navigation .menu:checked + .links {
        height: 41px;
        pointer-events: auto; }
    .navigation .links {
      width: 100%;
      height: 12px;
      overflow: hidden;
      transition: 0.4s height;
      pointer-events: none; } }

.navigation-wrapper {
  border-bottom: 1px solid #bbbec1;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 190dpi) {
    .navigation-wrapper {
      border-bottom-width: 0.5px; } }
  @media screen and (-webkit-min-device-pixel-ratio: 4), only screen and (min-resolution: 380dpi) {
    .navigation-wrapper {
      border-bottom-width: 0.25px; } }
  .navigation-wrapper.over {
    border-bottom-color: #55bcb5;
    background-color: #009a90; }

main {
  padding: 0 2rem;
  margin-bottom: 6rem !important;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  min-height: 60vh; }
  main h1, main h2 {
    margin-top: 4rem; }
  main header {
    text-align: center;
    font-style: inherit;
    font-weight: inherit;
    padding: 1em 3em; }
  main footer {
    text-align: right;
    color: rgba(50, 59, 69, 0.666);
    font-size: 0.9em; }
  main .apps {
    text-align: center; }
  main .authors {
    font-style: italic;
    font-weight: inherit; }
  main .achievement-header {
    margin-bottom: 0; }
  main .achievements ul {
    margin-top: 0;
    padding-left: 1em;
    font-size: 0.9em; }
    main .achievements ul.plain {
      padding-left: 0;
      list-style: none; }
  main .content ul,
  main .content ol {
    padding-left: 1em; }
  main .pull-right {
    float: right; }
  main .pull-left {
    float: left; }
  main .clearfix {
    clear: both; }
  main .w50 {
    width: 50%; }
  main .w30 {
    width: 30%; }
  main .w25 {
    width: 25%; }
  main .w23 {
    width: 23%; }
  main .w20 {
    width: 20%; }
  main .w15 {
    width: 15%; }

.footer-wrapper {
  background-color: #323b45; }

.footer {
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  color: #fff;
  background-color: #323b45;
  font-size: 0.8em; }
  .footer .link,
  .footer a[href] {
    color: white;
    text-decoration: none;
    font-style: inherit;
    font-weight: inherit;
    transition: 0.2s color; }
    .footer .link:hover,
    .footer a[href]:hover {
      color: #bbbec1; }
    .footer .link:active,
    .footer a[href]:active {
      color: #bbbec1; }
  .footer .column {
    margin: 0 1rem; }
  .footer .group {
    margin: 1rem 0; }

.jumbo {
  padding: 4rem;
  color: #fff;
  position: relative; }
  .jumbo img,
  .jumbo svg {
    position: absolute;
    right: 0;
    height: 45rem;
    margin-right: -2rem;
    bottom: 6%; }
  .jumbo .btn.fa, .jumbo .filterbar .group label.fa, .filterbar .group .jumbo label.fa, .jumbo .apps .fa.link, .apps .jumbo .fa.link {
    padding: 10px;
    font-size: 26px;
    width: 56px;
    text-align: center;
    margin: 0px 10px 0px 0px;
    border-radius: 50%; }
  .jumbo .text {
    padding: 4rem 0 4rem 0;
    font-size: 1.2em;
    z-index: 2; }
    .jumbo .text .links {
      margin: 0.5em 0; }
  .jumbo .row {
    margin: 10em 0 0 0; }

.jumbo-wrapper {
  background-color: #009a90;
  overflow: hidden; }

.featured {
  list-style: none; }
  .featured .featured-item {
    margin-top: 6rem;
    margin-bottom: 6rem; }
    .featured .featured-item.reverse {
      text-align: right;
      flex-direction: row-reverse; }

.animate.from-left {
  animation-duration: 1.2s;
  animation-name: from-left;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-play-state: paused; }

.animate.from-right {
  animation-duration: 1.2s;
  animation-name: from-right;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-play-state: paused; }

.animate.start {
  animation-play-state: running; }

@keyframes from-left {
  from {
    transform: translateX(-320px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes from-right {
  from {
    transform: translateX(320px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.popup-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center; }
  .popup-wrapper .close {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 1em;
    padding-bottom: 1em;
    background: linear-gradient(225deg, rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    font-size: 3em; }
    .popup-wrapper .close .link,
    .popup-wrapper .close a[href] {
      color: white;
      text-decoration: none;
      font-style: inherit;
      font-weight: inherit;
      transition: 0.2s color; }
      .popup-wrapper .close .link:hover,
      .popup-wrapper .close a[href]:hover {
        color: rgba(255, 255, 255, 0.667); }
      .popup-wrapper .close .link:active,
      .popup-wrapper .close a[href]:active {
        color: rgba(255, 255, 255, 0.667); }
  .popup-wrapper .popup {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white; }
    .popup-wrapper .popup .video {
      width: 96rem;
      max-width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */ }
      .popup-wrapper .popup .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .popup-wrapper .popup .text {
      width: 48rem;
      max-width: 100%;
      padding-left: 2rem;
      padding-right: 2rem; }

.gallery {
  margin: -1rem;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  display: block;
  font-size: 0; }
  .gallery .gallery-item {
    font-size: 1.6rem;
    width: calc(50% - 1rem * 2);
    margin: 1rem;
    overflow: hidden;
    display: inline-block;
    position: relative; }
    .gallery .gallery-item.featured {
      width: calc(100% - 1rem * 2); }
      .gallery .gallery-item.featured .cover {
        font-size: 1.2em; }
    .gallery .gallery-item.unmatched {
      display: none; }
    .gallery .gallery-item.matched {
      display: inline-block; }
    .gallery .gallery-item:after {
      content: "";
      padding-top: 20%;
      display: block; }
  .gallery .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    padding: 0 1em;
    background-color: rgba(0, 154, 144, 0.9);
    color: #fff;
    opacity: 0;
    transition: 0.2s opacity; }
    .gallery .cover p, .gallery .cover main .content, main .gallery .cover .content {
      margin: 0.75em 0; }
    .gallery .cover:hover, .gallery a:focus .cover {
      opacity: 1;
      color: #fff; }
  .gallery .icon {
    object-fit: cover;
    width: 20%;
    border-radius: 8px;
    position: absolute;
    height: 100%;
    border: 1px solid #ddd; }
  .gallery .text {
    color: #323b45;
    width: 80%;
    height: 100%;
    position: absolute;
    left: 22%; }

.carousel {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #fff no-repeat center / auto 100%; }
  .carousel.carousel-type-desktop-16-10 {
    background-image: url("/assets/images/desktop-16-10.svg");
    font-size: 26rem;
    height: 1em; }
    @media screen and (max-width: 480px) {
      .carousel.carousel-type-desktop-16-10 {
        font-size: 17.316rem; } }
    .carousel.carousel-type-desktop-16-10 > * {
      top: 0.083em;
      bottom: 0.095em;
      width: 1.3152em;
      position: absolute;
      left: 50%;
      margin-left: -0.6576em; }
  .carousel.carousel-type-mobile-9-16 {
    background-image: url("/assets/images/mobile-9-16.svg");
    font-size: 42rem;
    height: 1em; }
    @media screen and (max-width: 480px) {
      .carousel.carousel-type-mobile-9-16 {
        font-size: 27.972rem; } }
    .carousel.carousel-type-mobile-9-16 > * {
      top: 0.105em;
      bottom: 0.105em;
      width: 0.44438em;
      position: absolute;
      left: 50%;
      margin-left: -0.22219em; }
  .carousel.carousel-type-mobile-16-9 {
    background-image: url("/assets/images/mobile-16-9.svg");
    font-size: 24rem;
    height: 1em; }
    @media screen and (max-width: 480px) {
      .carousel.carousel-type-mobile-16-9 {
        font-size: 15.984rem; } }
    .carousel.carousel-type-mobile-16-9 > * {
      top: 0.2em;
      bottom: 0.2em;
      width: 1.06667em;
      position: absolute;
      left: 50%;
      margin-left: -0.53333em; }
  .carousel.carousel-type-raw {
    font-size: 32rem;
    height: 1em; }
    @media screen and (max-width: 480px) {
      .carousel.carousel-type-raw {
        font-size: 21.312rem; } }
    .carousel.carousel-type-raw > * {
      top: 0em;
      bottom: 0em;
      width: 1.6em;
      position: absolute;
      left: 50%;
      margin-left: -0.8em; }
  .carousel ul {
    list-style: none;
    margin: 0; }
  .carousel .carousel-item {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s opacity; }
    .carousel .carousel-item img {
      height: 100%; }
    .carousel .carousel-item.active {
      opacity: 1;
      pointer-events: auto; }
  .carousel .carousel-overlay {
    opacity: 0;
    transition: 0.5s opacity; }
    .carousel .carousel-overlay:hover {
      opacity: 1; }
    .carousel .carousel-overlay .button {
      font-size: 2.4rem;
      color: rgba(255, 255, 255, 0.8); }
    .carousel .carousel-overlay .previous, .carousel .carousel-overlay .next {
      height: 100%;
      width: 1.6em;
      position: absolute; }
      .carousel .carousel-overlay .previous i, .carousel .carousel-overlay .next i {
        position: absolute; }
    .carousel .carousel-overlay .previous {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0)); }
    .carousel .carousel-overlay .next {
      right: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.333)); }
      .carousel .carousel-overlay .next i {
        right: 0; }
    .carousel .carousel-overlay i {
      display: block;
      position: relative;
      top: 50%;
      margin-top: -0.5em; }
  .carousel .carousel-badges .carousel-badges-bar {
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0.2em;
    text-align: center;
    z-index: 10; }
  .carousel .carousel-badges .carousel-badge {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    border: 2px solid #fff;
    display: inline-block;
    transition: 0.5s background; }
    .carousel .carousel-badges .carousel-badge.active {
      background: #fff; }
  .carousel.one-item .previous,
  .carousel.one-item .next,
  .carousel.one-item .carousel-badges {
    display: none; }
  .carousel.one-item .center {
    left: 0;
    right: 0; }
  .carousel .carousel-badges {
    pointer-events: none; }
    .carousel .carousel-badges .carousel-badges-bar {
      pointer-events: auto; }
  .carousel .carousel-overlay {
    pointer-events: none; }
    .carousel .carousel-overlay .button {
      pointer-events: auto; }

.filterbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap; }
  .filterbar .group {
    display: inline-block;
    position: relative;
    margin-left: 1rem; }
    .filterbar .group label {
      padding-right: 1.6em;
      min-width: 6em;
      cursor: pointer; }
      .filterbar .group label i {
        position: absolute;
        right: 0.5rem;
        top: 0.7rem; }
    .filterbar .group i {
      display: none; }
    .filterbar .group .icon-arrow_drop_down {
      display: inline-block; }
    .filterbar .group.opened .icon-arrow_drop_up {
      display: inline-block; }
    .filterbar .group.opened .icon-arrow_drop_down {
      display: none; }
  .filterbar .tags {
    display: block;
    position: absolute;
    top: 1.8em;
    left: 0;
    z-index: 100;
    min-width: 100%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
    overflow: hidden; }
    .filterbar .tags .tag {
      display: block;
      padding: 0.4em;
      line-height: 1.2;
      white-space: nowrap;
      cursor: pointer; }
      .filterbar .tags .tag * {
        vertical-align: text-bottom; }
      .filterbar .tags .tag i {
        display: none;
        font-size: 2.4rem; }
      .filterbar .tags .tag span {
        display: inline-block;
        margin-bottom: 0.1em; }
      .filterbar .tags .tag .icon-check_box_outline_blank {
        display: inline-block; }
      .filterbar .tags .tag.checked .icon-check_box {
        display: inline-block; }
      .filterbar .tags .tag.checked .icon-check_box_outline_blank {
        display: none; }
      .filterbar .tags .tag:hover {
        background: #009a90;
        color: #fff; }
  .filterbar .tags {
    opacity: 0;
    pointer-events: none; }
  .filterbar .group.opened .tags {
    opacity: 1;
    pointer-events: all; }

.apps {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 1.8rem; }

.projects a[href] {
  color: #000; }

.projects .project {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: 2em 0; }
  .projects .project .image {
    align-self: center;
    max-width: 300px !important; }
  .projects .project .content {
    margin: 0;
    padding-left: 2em;
    padding-right: 2em; }
  .projects .project .authors {
    font-size: 0.9em; }

.projects .project:hover {
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.075);
  -webkit-transition: box-shadow .2s ease-in; }

.projects .project:nth-child(odd) {
  flex-direction: row-reverse; }

.request input,
.request textarea,
.request select {
  font: inherit; }

.request .form-control {
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  margin-bottom: 1.5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: 100%; }

.request textarea {
  resize: vertical; }

.request input:focus,
.request textarea:focus {
  border-color: #009a90; }

.request .btn, .request .filterbar .group label, .filterbar .group .request label, .request .apps .link, .apps .request .link {
  width: 100%;
  border-radius: 0.25em;
  padding: .84rem 2.14rem; }

.profile {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem; }
  .profile .text {
    flex: 1; }
    .profile .text h2,
    .profile .text p,
    .profile .text main .content,
    main .profile .text .content {
      margin-top: 0.64rem;
      margin-bottom: 0.64rem; }
  .profile .picture {
    border-radius: 8px;
    margin: 1rem 2rem 1rem 0;
    width: 18rem; }
  @media screen and (max-width: 480px) {
    .profile {
      display: block; } }

.navigation,
.jumbo,
main,
.footer,
.featured-item {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(84rem + 20vw); }

.page,
.featured-item {
  max-width: calc(48rem + 20vw); }

@media screen and (max-width: 400px) {
  main header {
    padding: 0.125em 0.5em; }
  .gallery .cover p, .gallery .cover main .content, main .gallery .cover .content {
    font-size: 0.75em; } }

@media screen and (max-width: 480px) {
  .gallery .text p, .gallery .text main .content, main .gallery .text .content {
    font-size: 0.85em; } }

@media screen and (max-width: 540px) {
  main header {
    padding: 0.125em 1em; }
  .gallery .cover {
    font-size: 0.8em; } }

@media screen and (max-width: 820px) {
  .gallery .gallery-item {
    width: calc(100%);
    margin: 1rem 0; }
  .jumbo {
    padding: 2rem; }
    .jumbo img,
    .jumbo svg {
      height: 20rem; }
    .jumbo .text {
      font-size: 1em;
      padding: 0 6rem 9rem 0;
      width: 80%; } }

@media screen and (min-width: 960px) {
  .columns {
    max-width: calc(84rem + 20vw);
    display: flex; }
    .columns .column {
      transition: max-width 0.5s, flex 0.5s, opacity 0.1s 0.4s linear;
      flex: 1;
      margin: 0 2rem; }
  .jumbo img,
  .jumbo svg {
    height: 46rem; } }

@media screen and (max-width: 960px) {
  .featured .featured-item,
  .featured .featured-item.reverse {
    text-align: center; }
  .featured .carousel.mobile:not(.landscape) {
    max-width: 20rem; } }

@media screen and (max-width: 720px) {
  .featured .carousel.mobile:not(.landscape) {
    max-width: 18rem; } }

main {
  display: block; }
