// TODO: replace with better theme-wide form styles
.request {
  input,
  textarea,
  select {
    font: inherit;
  }

  .form-control {
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    margin-bottom: 1.5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  input:focus,
  textarea:focus {
    border-color: $theme-color;
  }

  .btn {
    width: 100%;
    border-radius: 0.25em;
    padding: .84rem 2.14rem;
  }
}
